.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info

apps/backend/.env
apps/backend/__pycache__
apps/backend/**/*.py[cod]
apps/backend/**/__pycache__

apps/opencad_viewport/.env
apps/opencad_viewport/node_modules
apps/opencad_viewport/dist
apps/opencad_viewport/tsconfig.tsbuildinfo

*.log
