.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info

**/__pycache__
**/*.py[cod]
**/build
**/.pytest_cache

apps/backend/.env
packages/**/.env

apps/opencad_viewport/.env
apps/opencad_viewport/node_modules
apps/opencad_viewport/dist
apps/opencad_viewport/tsconfig.tsbuildinfo

*.log
