.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info

**/__pycache__
**/*.py[cod]
**/build
**/.pytest_cache

apps/backend/.env
packages/**/.env

**/node_modules
**/dist
**/tsconfig.tsbuildinfo
**/.vite
apps/opencad_viewport/.env
packages/**/.env

*.log
