# .env.example

# Toggle to mock all API calls
VITE_USE_MOCK=false

# Toggle specific mock for the chat interface
VITE_USE_CHAT_MOCK=false

# Example of what a real API key would look like
# VITE_API_URL=https://api.example.com
VITE_BASE_URL=http://127.0.0.1:8000